---
BasedOnStyle:		LLVM
BreakBeforeBraces:	Linux
IndentWidth:		8
ContinuationIndentWidth: 8
Standard:		Cpp11
TabWidth:		8
UseTab:			ForIndentation
ColumnLimit:		80
IndentCaseLabels:	false
AllowShortCaseLabelsOnASingleLine:	true
AlignTrailingComments:	true
AlignOperands:		true
AlignConsecutiveAssignments:	true
AlignConsecutiveDeclarations:	true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
CommentPragmas: 'Copyright'
...
