---
BasedOnStyle:		LLVM
BreakBeforeBraces:	Linux
IndentWidth:		8
IncludeBlocks:		Regroup
IncludeCategories:
  - Regex:	'^"'
    Priority:	5
  - Regex:	'^<(dns|ns|irs|isccc|iscfg)/'
    Priority:   4
  - Regex:	'^<isc/'
    Priority:	3
  - Regex:	'.*'
    Priority:	2
  - Regex:	'^<config.h>'
    Priority:   1
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PenaltyBreakBeforeFirstCallParameter: 100
ContinuationIndentWidth: 8
AlwaysBreakAfterReturnType: TopLevel
Standard:		Cpp11
TabWidth:		8
UseTab:			ForContinuationAndIndentation
ColumnLimit:		80
IndentCaseLabels:	false
AllowShortCaseLabelsOnASingleLine:	false
AlignTrailingComments:	true
AlignOperands:		true
AlignConsecutiveAssignments:	true
AlignConsecutiveDeclarations:	true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
AlignAfterOpenBracket: Align
CommentPragmas: 'Copyright'
BreakBeforeTernaryOperators: false
...
