*.sln.in eol=crlf
*.vcxproj.* eol=crlf

.gitignore			 export-ignore
/conftools			 export-ignore
/doc/design			 export-ignore
/doc/dev			 export-ignore
/util/**			 export-ignore
/util/bindkeys.pl		-export-ignore
/util/check-make-install.in	-export-ignore
/util/mksymtbl.pl		-export-ignore
