variables:
  DEBIAN_FRONTEND: noninteractive
  LC_ALL: C
  DOCKER_DRIVER: overlay2

stages:
  - image
  - build
  - test

.image: &image
  image: docker:latest
  stage: image
  services:
    - docker:dind
  tags:
    - docker
  before_script:
    - docker info
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_JOB_TOKEN" "$CI_REGISTRY"
    - docker pull "$CI_REGISTRY_IMAGE/$CI_JOB_NAME" || true
    - docker build --cache-from "$CI_REGISTRY_IMAGE/$CI_JOB_NAME" -t "$CI_REGISTRY_IMAGE/$CI_JOB_NAME" "contrib/docker/$CI_JOB_NAME"
    - docker push "$CI_REGISTRY_IMAGE/$CI_JOB_NAME"
  only:
    - master
    - triggers
    - tags
    - gitlab-ci

debian-amd64:oldstable:
  <<: *image

debian-i386:oldstable:
  <<: *image

debian-amd64:stable:
  <<: *image

debian-i386:stable:
  <<: *image

debian-amd64:unstable:
  <<: *image

debian-i386:unstable:
  <<: *image

ubuntu-amd64:latest:
  <<: *image

ubuntu-i386:latest:
  <<: *image

#centos-amd64:latest:
#  <<: *image

#fedora-amd64:latest:
#  <<: *image

.debian-amd64:oldstable: &debian_oldstable_amd64_image
  image: "$CI_REGISTRY_IMAGE/debian-amd64:oldstable"
  tags:
    - linux
    - docker

.debian-i386:oldstable: &debian_oldstable_i386_image
  image: "$CI_REGISTRY_IMAGE/debian-i386:oldstable"
  tags:
    - linux
    - docker

.debian-amd64:stable: &debian_stable_amd64_image
  image: "$CI_REGISTRY_IMAGE/debian-amd64:stable"
  tags:
    - linux
    - docker

.debian-i386:stable: &debian_stable_i386_image
  image: "$CI_REGISTRY_IMAGE/debian-i386:stable"
  tags:
    - linux
    - docker

.debian-amd64:unstable: &debian_unstable_amd64_image
  image: "$CI_REGISTRY_IMAGE/debian-amd64:unstable"
  tags:
    - linux
    - docker

.debian-i386:unstable: &debian_unstable_i386_image
  image: "$CI_REGISTRY_IMAGE/debian-i386:unstable"
  tags:
    - linux
    - docker

.ubuntu-amd64:latest: &ubuntu_latest_amd64_image
  image: "$CI_REGISTRY_IMAGE/ubuntu-amd64:latest"
  tags:
    - linux
    - docker

.ubuntu-amd64:latest: &ubuntu_latest_i386_image
  image: "$CI_REGISTRY_IMAGE/ubuntu-i386:latest"
  tags:
    - linux
    - docker

.build: &build_job
  stage: build
  before_script:
    - ./autogen.sh
  script:
    - ./configure
    - make -k all V=1
  artifacts:
    untracked: true
    expire_in: '1 hour'

.test: &test_job
  stage: test
  before_script:
    - bash bin/tests/system/ifconfig.sh up
  script:
    - make -k check V=1

build:debian:oldstable:amd64:
  <<: *debian_oldstable_amd64_image
  <<: *build_job

test:debian:oldstable:amd64:
  <<: *debian_oldstable_amd64_image
  <<: *test_job
  dependencies:
    - build:debian:oldstable:amd64

build:debian:oldstable:i386:
  <<: *debian_oldstable_i386_image
  <<: *build_job

test:debian:oldstable:i386:
  <<: *debian_oldstable_i386_image
  <<: *test_job
  dependencies:
    - build:debian:oldstable:i386

####

build:debian:stable:amd64:
  <<: *debian_stable_amd64_image
  <<: *build_job

test:debian:stable:amd64:
  <<: *debian_stable_amd64_image
  <<: *test_job
  dependencies:
    - build:debian:stable:amd64

build:debian:stable:i386:
  <<: *debian_stable_i386_image
  <<: *build_job

test:debian:stable:i386:
  <<: *debian_stable_i386_image
  <<: *test_job
  dependencies:
    - build:debian:stable:i386

####

build:debian:unstable:amd64:
  <<: *debian_unstable_amd64_image
  <<: *build_job

test:debian:unstable:amd64:
  <<: *debian_unstable_amd64_image
  <<: *test_job
  dependencies:
    - build:debian:unstable:amd64

build:debian:unstable:i386:
  <<: *debian_unstable_i386_image
  <<: *build_job

test:debian:unstable:i386:
  <<: *debian_unstable_i386_image
  <<: *test_job
  dependencies:
    - build:debian:unstable:i386

####

build:ubuntu:latest:amd64:
  <<: *ubuntu_latest_amd64_image
  <<: *build_job

test:ubuntu:latest:amd64:
  <<: *ubuntu_latest_amd64_image
  <<: *test_job
  dependencies:
    - build:ubuntu:latest:amd64

build:ubuntu:latest:i386:
  <<: *ubuntu_latest_i386_image
  <<: *build_job

test:ubuntu:latest:i386:
  <<: *ubuntu_latest_i386_image
  <<: *test_job
  dependencies:
    - build:ubuntu:latest:i386
