# $Id: mdnsproxy.conf.sample,v 1.1.2.1 2002/02/08 12:14:53 marka Exp $
#
# Sample mdnsproxy configuration file 'mdnsproxy.conf'.
#

#
# 'listen' entry specifies the mdnsproxy's listening port.
# The default is to use address 0.0.0.0 (INADDR_ANY) and port 53.
#
# syntax)
#	listen [<IP address>][:<port number>]
#
# ex)	listen 127.0.0.1	-- only accept loopback connections
#	listen :1053		-- port number can be specified
#	listen 127.0.0.1:1053	-- combination of above
#
#listen  127.0.0.1

#
# 'forward' entry specifies the name server's port to which mdnsproxy
# forwards requests.  This entry MUST be specified.
#
# Normally mdnsproxy uses unspecified local port number for sending
# queries to the server, but if 'bind4compat' option is specified,
# mdnsproxy uses the same port number as the listening port specified
# by the 'listen' entry.
#
# syntax)
#	forward <IP address>[:<port number>] [bind4compat]
#
# ex)	forward 10.0.0.2		-- forward 10.0.0.2 port 53
#	forward 10.0.0.2:1053		-- port number can be specified
#	forward 10.0.0.2 bind4compat	-- use fixed port number.
forward	xxx.xxx.xxx.xxx

#
# 'client-encoding' entry specifies the codeset (encoding) of domain
# names in the messages sent by the clients.
#
# syntax)
#	client-encoding <encoding>
#
#client-encoding EUC-JP
client-encoding Shift_JIS

#
# 'mdn-conf-file' entry specifies the pathname of configuration file for
# libmdn, the library responsible for most of the MDN processing for
# mdnsproxy.  If it is not specified, mdnsproxy reads default configuration
# file.
#
# syntax)
#	mdn-conf-file <pathname>
#
#mdn-conf-file    /usr/local/etc/mdn.conf

#
# 'log-file' entry specifies the pathname of the log file.  If the string
# `syslog' is given, mdnsproxy will record its events with syslog.  If
# `stderr' is given, mdnsproxy will record events to standard error.
#  If the entry is not specified, default log file will be used.
#
# syntax)
#	log-file (<pathname> | syslog | stderr)
#
#log-file    /var/log/mdnsproxy.log

#
# 'log-level' entry specifies the logging level for mdnsproxy.
# Valid levels are 'none' (no logging at all, not recommended),
# 'fatal' (only logs fatal errors), 'warn' (also logs warning messages)
# and 'trace' (also includes trace messages).  The default level is 'warn'.
# 'trace' level is useful for debugging mdnsproxy itself, but it makes
# the log file grow rather quickly.
#
# syntax)
#	log-level <level>
#
log-level warn

#
# 'mdn-log-level' entry specifies the logging level for libmdn.
# Unless you are debugging mDNkit, you should keep this entry unspecified.
#
# syntax)
#	mdn-log-level <level>
#
#mdn-log-level 1

#
# 'syslog-facility' entry specifies the syslog facility to be assigned to
# log messages output by mdnsproxy.  The entry is ignored unless the
# `log-file' entry is set to `syslog'.  If the entry is not specified,
# `daemon' will be used.
#
# syntax)
#	syslog-facility <facility>
#
#syslog-facility daemon

#
# 'user-id' entry and 'group-id' entry specify the user/group ID
# in which privilege mdnsproxy operates.  mdnsproxy tries to switch
# to the specified user/group after initialization process is finished.
#
# syntax)
#	user-id <name-or-number>
#	group-id <name-or-number>
#
# ex)	user-id	nobody		-- specify by name,
#	group-id 1000		-- or by number
#
user-id nobody
#group-id nobody

#
# 'root-directory' entry specifies the root directory of mdnsproxy
# process.  mdnsproxy performs chroot() to this directory after
# initialization.  Note that chroot() is allowed only for super-users.
#
# syntax)
#	root-directory <path>
#
root-directory	/var/mdnsproxy

#
# `allow-access' entry specifies which hosts are allowed to access to the
# server.  Defining multiple entries are also permitted.  If it is not
# specified, the server allows to acceess from all hosts.  
#
# syntax)
# 	allow-access <IP address> | <IP prefix>
#
# ex)	allow-access 127.0.0.1
#		-- allow access from the host 127.0.0.1
# 	allow-access 192.168.100.0/24
# 		-- allow access from hosts on the network 192.168.100.0/24.
#
#allow-access xxx.xxx.xxx.xxx

#
# `log-on-denied' entry specifies whether or not to log denied access.
# If it is not specified, the server doesn't record denied access.
#
# syntax)
# 	log-on-denied <yes>
# 	log-on-denied <no>
#
#log-on-denied no
