# $Id: mdnres.conf.sample,v 1.6 2000/11/22 06:57:31 ishisone Exp $
#
# A sample file for mDNkit's resolver configuration file (mdnres.conf)
#

#
# The following line specifies the encoding which DNS protocol uses,
# such as RACE or UTF-8.
# Note that the application's local encoding is determined from its
# locale, so there is no 'client-encoding' line.
#
server-encoding RACE

#
# If the server-encoding needs ZLD (zero level domain).  Use the following
# line to spcify.  Note that you must enable ZLD feature (by giving
# "--enable-zld" option to the configure script) to use it.
#
# server-zld zld.to.be.used

#
# The following line specifies the normalization scheme(s) to be used.
# If two or more shemes are specified, they are applied in order
# (from left to right).  The available shmemes are:
#	ascii-lowercase		-- ASCII uppercase letters to lowercase
#	ascii-uppercase		-- ASCII lowercase letters to uppercase
#	unicode-lowercase	-- Unicode uppercase letters to lowercase
#	unicode-uppercase	-- Unicode lowercase letters to uppercase
#	unicode-form-c		-- Unicode normalization form C
#	unicode-form-kc		-- Unicode normalization form KC
#	ja-kana-fullwidth	-- Japanese halfwidth kana letters to fullwidth
#	ja-alnum-halfwidth	-- Fullwidth alphabets, digits and minus sign
#				   to halfwidth
#	ja-compose-voiced-sound	-- Combine Japanese fullwidth kana and the
#				   following (semi) voiced sound mark
#	ja-minus-hack		-- Japanse fullwidth minus sign to '-'
#
normalize unicode-lowercase unicode-form-kc

#
# The following line specifies the alternative encoding to use in case
# the conversion from DNS protocol encoding to the application's local
# encoding fails due to the lack of certain character in the character
# set of the local encoding.
# The alternative encoding must be an ASCII-compatible encoding (ACE).
#
alternate-encoding RACE

#
# You can add alias names to the encoding (codeset) names.  The following
# line specifies the pathname of the alias definition file.
#
# alias-file /some/where/mdnalias.txt
