/*.dSYM/
/*.out/
/dns_master_load
/dns_message_checksig
/dns_message_parse
/dns_name_fromtext_target
/dns_name_fromwire
/dns_qp
/dns_qpkey_name
/dns_rdata_fromtext
/dns_rdata_fromwire_text
/isc_lex_getmastertoken
/isc_lex_gettoken
